In [2]:
## input data 정제 

import pandas as pd 

dataB = pd.read_csv("./Data/사전테스트-환경데이터/environmentsB.csv")
dataC = pd.read_csv("./Data/사전테스트-환경데이터/environmentsC.csv")
dataD = pd.read_csv("./Data/사전테스트-환경데이터/environmentsD.csv")
dataE = pd.read_csv("./Data/사전테스트-환경데이터/environmentsE.csv")

dataR = pd.read_excel("./Data/사전테스트-생육데이터.xlsx")

In [22]:
import pandas as pd
from datetime import datetime, timedelta

# 주차 계산 함수
def calculate_week(target_date, base_week, startMonth, startDate):
    # 문자열 날짜를 datetime 객체로 변환
    date = pd.to_datetime(target_date, format='%Y%m%d')
    
    # 기준 날짜 설정
    base_date = datetime(2023, startMonth, startDate)
    base_date_timestamp = pd.Timestamp(base_date)

    # 날짜 차이 계산
    delta_days = (date - base_date_timestamp).days

    # 기준 주차에서 날짜 차이를 주 단위로 변환
    week = base_week + delta_days // 7
    print( date , f'는 {base_date}로 부터 {week}주차 입니다')
    return week

# 테스트
print(calculate_week('20230928', 1, 9, 20))

# # for문을 사용하여 주차 데이터를 데이터프레임에 추가
# for data, farm_name in zip(datalist, list):
#     print(f"{farm_name} 농가")
#     dates = pd.to_datetime(data['date'])
#     weeks = calculate_week(dates, base_week, 10, 28)
#     data['weeks'] = weeks

2023-09-28 00:00:00 는 2023-09-20 00:00:00로 부터 2주차 입니다
2

In [24]:
119*9

1071

In [10]:
# datatime에서 날짜와 시간을 잘라서 df 만들기
# dataB['datetime'] = pd.to_datetime(dataB['datetime'])
# dataB['date'] = dataB['datetime'].dt.date
# dataB.head()

datalist = [dataB, dataC, dataD, dataE]

## datetime을 date로 변경 
for data in datalist:
    data['datetime'] = pd.to_datetime(data['datetime'])
    data['date'] = data['datetime'].dt.date
    # data['time'] = data['datetime'].dt.hour
test = dataC.groupby(['date','farm']).mean(numeric_only=True)
test

,,supplyEC,supplyPH,innerCO2,innerHum,innerTemp,innerSolar,time
date,farm,,,,,,,
2023-10-11,C농가,0.000000,6.000000,284.895833,54.595833,20.354167,96.001667,17.500000
2023-10-12,C농가,0.159583,6.000000,303.757500,61.527500,18.124167,127.049167,11.500000
2023-10-13,C농가,0.000000,6.000000,270.525455,68.954091,17.000455,85.023636,11.772727
2023-10-14,C농가,0.000000,6.000000,271.131667,75.636250,15.875417,87.921667,11.500000
2023-10-15,C농가,0.000000,6.000000,268.389167,74.604583,16.488333,107.019583,11.500000
...,...,...,...,...,...,...,...,...
2024-04-22,C농가,1.000000,5.982917,264.963333,63.669167,19.737083,58.267083,11.500000
2024-04-23,C농가,0.917083,6.068750,280.077917,65.741250,18.101250,59.034583,11.500000
2024-04-24,C농가,1.000000,5.996667,282.212083,74.168750,16.404167,76.522083,11.500000
2024-04-25,C농가,0.934583,6.037083,350.104167,64.751250,19.133750,65.545417,11.500000
2024-04-26,C농가,1.000000,5.997083,367.126667,63.842917,19.001250,67.485833,11.500000

In [5]:
dataC

,farm,datetime,supplyEC,supplyPH,innerCO2,innerHum,innerTemp,innerSolar,date,time
0,C농가,2023-10-11 12:00:00,0.0,6.0,248.58,29.92,26.96,152.29,2023-10-11,12
1,C농가,2023-10-11 13:00:00,0.0,6.0,243.57,30.37,27.17,435.59,2023-10-11,13
2,C농가,2023-10-11 14:00:00,0.0,6.0,237.00,32.33,28.33,315.50,2023-10-11,14
3,C농가,2023-10-11 15:00:00,0.0,6.0,243.27,36.20,24.47,76.80,2023-10-11,15
4,C농가,2023-10-11 16:00:00,0.0,6.0,246.83,34.83,24.83,141.17,2023-10-11,16
...,...,...,...,...,...,...,...,...,...,...
4275,C농가,2024-04-26 19:00:00,1.0,6.0,269.80,68.75,18.61,63.36,2024-04-26,19
4276,C농가,2024-04-26 20:00:00,1.0,6.0,303.82,75.03,16.12,70.78,2024-04-26,20
4277,C농가,2024-04-26 21:00:00,1.0,6.0,345.05,77.49,14.56,71.22,2024-04-26,21
4278,C농가,2024-04-26 22:00:00,1.0,6.0,387.39,78.69,13.51,79.92,2024-04-26,22
4279,C농가,2024-04-26 23:00:00,1.0,6.0,431.58,79.29,13.00,82.14,2024-04-26,23