---
### DIVE Ìï¥Ïª§ÌÜ§ All data Ï†ïÎ¶¨

In [2]:
import warnings ;warnings.filterwarnings('ignore')
import sys ;sys.path.append("../../")
from  CommonFunc_03 import *

Analysis_title("Dive all data ÌååÏùº Ï†ïÎ¶¨ ")
data_column_info(data_column_info_str="""
- Author : Forrest DPark
- Description :  
.   ‚óªÔ∏é Topic  : 
.   ‚óªÔ∏é Detail : 
.   ‚óªÔ∏é Due   : 
.   ‚óªÔ∏é Reward : 
.   ‚óªÔ∏é Main Link : 
.   ‚óªÔ∏é Basecode Link :
.   ‚óªÔ∏é DataSet Info:

- Update : 
    2024.09.25.Wed . PM 03.34 data Ï†ïÎ¶¨ start
""")
DataPreprocessing.plotSetting("default")

‚úª‚úª‚úª‚úª______ü§ë Dive all data ÌååÏùº Ï†ïÎ¶¨  ü§ë______‚úª‚úª‚úª‚úª
- Author: Forrest DPark
- Description:
.   ‚óªÔ∏é Topic:
.   ‚óªÔ∏é Detail:
.   ‚óªÔ∏é Due:
.   ‚óªÔ∏é Reward:
.   ‚óªÔ∏é Main Link:
.   ‚óªÔ∏é Basecode Link:
.   ‚óªÔ∏é DataSet Info:

- Update:
    2024.09.25.Wed . PM 03.34 data Ï†ïÎ¶¨ start
  - ‚óé matplot graph set complete

In [2]:
# data_file_numbering()
data_dict=data_watch_range(1,9,data_folder_path="./Data/NICEÌèâÍ∞ÄÏ†ïÎ≥¥")

‚úª‚úª‚úª‚úª______üôÑ 1-10 Î≤à ÌååÏùº Îç∞Ïù¥ÌÑ∞ Î≥¥Í≥† Î∂ÑÏÑù üôÑ______‚úª‚úª‚úª‚úª

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..:  1%|          | 1/100 [elapsed: 00:01 remaining: 02:21]

  - Detected encoding: EUC-KR

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..:  5%|‚ñå         | 5/100 [elapsed: 00:02 remaining: 00:48]

  - Detected encoding: EUC-KR

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 12%|‚ñà‚ñè        | 12/100 [elapsed: 00:04 remaining: 00:25]

  - Detected encoding: EUC-KR

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 22%|‚ñà‚ñà‚ñè       | 22/100 [elapsed: 00:05 remaining: 00:15]

  - Detected encoding: EUC-KR

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 35%|‚ñà‚ñà‚ñà‚ñå      | 35/100 [elapsed: 00:06 remaining: 00:09]

  - Detected encoding: EUC-KR

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 51%|‚ñà‚ñà‚ñà‚ñà‚ñà     | 51/100 [elapsed: 00:08 remaining: 00:05]

  - Detected encoding: EUC-KR

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 70%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà   | 70/100 [elapsed: 00:09 remaining: 00:02]

  - Detected encoding: EUC-KR

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 92%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè| 92/100 [elapsed: 00:11 remaining: 00:00]

  - Detected encoding: EUC-KR
  - Detected encoding: None

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..:  0%|          | 117/? [elapsed: 00:11 remaining: 00:00]

In [3]:
nice01=DataPreprocessing.key_selector(data_dict,0,df_info_show=True)
nice02=DataPreprocessing.key_selector(data_dict,0,df_info_show=True)
nice03=DataPreprocessing.key_selector(data_dict,0,df_info_show=True)
nice04=DataPreprocessing.key_selector(data_dict,0,df_info_show=True)
nice5=DataPreprocessing.key_selector(data_dict,0,df_info_show=True)
nice61=DataPreprocessing.key_selector(data_dict,0,df_info_show=True)
nice01=DataPreprocessing.key_selector(data_dict,0,df_info_show=True)

‚óé  1.BUSAN_DIVE_STAT_202209.csv----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Columns: 107 entries, B_DATE to COUNT_AMT_FPAY_M3
dtypes: float64(30), int64(76), object(1)
memory usage: 1.7+ MB
-DataFrame.head :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
0,202209,Ï†ÑÍµ≠,0,0,3775,3100,3147,411.4,10.1,3900,...,15505891500,652041310.0,1887,649,389.0,36061439,23881320,1676204,4473,37045924
1,202209,Ï†ÑÍµ≠,0,10,2138,2100,2130,233.0,5.6,2200,...,453399990,182340.0,308,301,246.0,1505759,1504967,740,813,1654356
2,202209,Ï†ÑÍµ≠,0,20,2749,2300,2547,299.6,7.2,2800,...,3833158770,81047790.0,1313,700,287.0,5959286,5474731,282578,3272,6058842

-DataFrame.tail :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2130,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,60,3001,2700,2637,327.1,8.0,3100,...,3138720,34860.0,1132,501,349.0,12033,6263,100,2469,12603
2131,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,70,2399,2100,2238,261.5,6.5,2500,...,796880,7060.0,708,381,441.0,4057,2090,16,1510,4463
2132,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,80,1569,1500,1492,171.0,2.5,1900,...,320230,370.0,476,359,93.0,1197,893,4,952,1466

-Random sample Watching(7) :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
513,202209,Í≤ΩÏÉÅÎÇ®ÎèÑÏÑúÎ∂Ä,0,0,3240,2700,2665,353.1,8.9,3400,...,158875460,2275160.0,1520,610,280.0,363460,260365,8122,3590,378434
1483,202209,ÏÑ∏Ï¢ÖÌäπÎ≥ÑÏûêÏπòÏãú,2,70,2648,2400,2364,288.6,7.2,2800,...,976810,12130.0,805,381,607.0,4306,2561,20,1802,4568
362,202209,Í≤ΩÍ∏∞ÎèÑÏïàÏñëÏãú,1,20,2823,2400,2615,307.7,8.0,3100,...,20932300,442650.0,1226,672,241.0,34391,31171,1836,3147,34858
359,202209,Í≤ΩÍ∏∞ÎèÑÏïàÏñëÏãú,0,80,1769,1500,1572,192.8,2.5,1900,...,929530,12730.0,634,351,670.0,5957,2647,19,1434,6600
917,202209,ÎåÄÍµ¨Í¥ëÏó≠ÏãúÎ∂ÅÍµ¨,2,80,1583,1500,1459,172.5,2.5,1900,...,263570,240.0,483,310,120.0,1525,849,2,905,1836
572,202209,Í≤ΩÏÉÅÎÇ®ÎèÑÏßÑÏ£ºÏãú,0,50,4537,3700,3646,494.5,12.0,4800,...,18066520,499040.0,2175,705,347.0,47497,25642,1437,5115,48466
1757,202209,Ï†ÑÎùºÎ∂ÅÎèÑÎÇ®Î∂Ä,0,20,2451,2100,2274,267.1,6.5,2500,...,16320920,139070.0,1080,672,251.0,25532,24277,555,2730,26097

-DataFrame Describtion:

,B_DATE,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,ECON_CNT,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
count,2133.0,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2.133000e+03,...,2.133000e+03,2.114000e+03,2133.000000,2133.000000,2114.000000,2.133000e+03,2.133000e+03,2.133000e+03,2133.000000,2.133000e+03
mean,202209.0,1.000000,40.000000,3280.459447,2797.960619,2791.183779,357.543319,8.944023,13097.796531,1.485589e+05,...,5.815618e+07,2.467517e+06,1505.633849,565.375996,345.736518,1.352515e+05,8.956895e+04,6.286747e+03,3576.536803,1.389439e+05
std,0.0,0.816688,25.825944,1049.219140,829.070952,741.174242,114.356584,3.592256,95836.189733,1.134874e+06,...,4.502698e+08,1.961666e+07,798.068294,175.458470,163.413913,1.033253e+06,6.860398e+05,5.007974e+04,1941.811985,1.060538e+06
min,202209.0,0.000000,0.000000,1550.000000,1500.000000,1371.000000,168.900000,2.500000,1900.000000,1.050000e+03,...,1.551500e+05,1.000000e+01,253.000000,244.000000,10.000000,6.680000e+02,4.540000e+02,0.000000e+00,613.000000,8.630000e+02
25%,202209.0,0.000000,20.000000,2482.000000,2100.000000,2303.000000,270.500000,6.500000,2500.000000,1.407100e+04,...,3.317690e+06,2.622250e+04,833.000000,376.000000,275.250000,1.312900e+04,8.544000e+03,6.400000e+01,1808.000000,1.399800e+04
50%,202209.0,1.000000,40.000000,3333.000000,2800.000000,2809.000000,363.300000,8.900000,3400.000000,3.424600e+04,...,1.286659e+07,2.986150e+05,1471.000000,625.000000,327.000000,3.123900e+04,2.081600e+04,8.930000e+02,3486.000000,3.201100e+04
75%,202209.0,2.000000,60.000000,4005.000000,3400.000000,3259.000000,436.500000,12.000000,4800.000000,7.282300e+04,...,3.100085e+07,1.059772e+06,2161.000000,708.000000,395.750000,6.669400e+04,4.504500e+04,3.031000e+03,5152.000000,6.779600e+04
max,202209.0,2.000000,80.000000,8894.000000,7100.000000,6914.000000,969.400000,24.000000,973900.000000,3.960950e+07,...,1.550589e+10,6.520413e+08,5125.000000,963.000000,2920.000000,3.606144e+07,2.388132e+07,1.676204e+06,12304.000000,3.704592e+07

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
‚óé  1.BUSAN_DIVE_STAT_202209.csv----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Columns: 107 entries, B_DATE to COUNT_AMT_FPAY_M3
dtypes: float64(30), int64(76), object(1)
memory usage: 1.7+ MB
-DataFrame.head :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
0,202209,Ï†ÑÍµ≠,0,0,3775,3100,3147,411.4,10.1,3900,...,15505891500,652041310.0,1887,649,389.0,36061439,23881320,1676204,4473,37045924
1,202209,Ï†ÑÍµ≠,0,10,2138,2100,2130,233.0,5.6,2200,...,453399990,182340.0,308,301,246.0,1505759,1504967,740,813,1654356
2,202209,Ï†ÑÍµ≠,0,20,2749,2300,2547,299.6,7.2,2800,...,3833158770,81047790.0,1313,700,287.0,5959286,5474731,282578,3272,6058842

-DataFrame.tail :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2130,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,60,3001,2700,2637,327.1,8.0,3100,...,3138720,34860.0,1132,501,349.0,12033,6263,100,2469,12603
2131,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,70,2399,2100,2238,261.5,6.5,2500,...,796880,7060.0,708,381,441.0,4057,2090,16,1510,4463
2132,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,80,1569,1500,1492,171.0,2.5,1900,...,320230,370.0,476,359,93.0,1197,893,4,952,1466

-Random sample Watching(7) :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
51,202209,Í∞ïÏõêÎèÑÏòÅÎèô,2,60,2986,2600,2624,325.4,8.0,3100,...,10365760,118750.0,1218,554,361.0,38184,18716,329,2585,40007
1179,202209,ÏÑúÏö∏ÌäπÎ≥ÑÏãúÍ∞ïÎÇ®Íµ¨,2,0,5012,4400,4331,546.3,15.1,6000,...,81969920,15340950.0,2900,735,651.0,210444,111507,23570,6560,216060
598,202209,Í≤ΩÏÉÅÎÇ®ÎèÑÏ∞ΩÏõêÏãú,0,40,4411,3700,3584,480.8,12.0,4800,...,67911900,2128070.0,2481,716,338.0,147016,94799,6302,5945,149243
121,202209,Í∞ïÏõêÎèÑÏ∂òÏ≤úÏãú,1,40,4664,4000,3434,508.3,12.0,4800,...,9574370,385810.0,2846,839,340.0,17184,11417,1135,6947,17444
67,202209,Í∞ïÏõêÎèÑÏòÅÏÑú,1,40,4581,3800,3311,499.3,12.0,4800,...,7413960,119820.0,2571,912,223.0,10871,8127,537,6484,11050
360,202209,Í≤ΩÍ∏∞ÎèÑÏïàÏñëÏãú,1,0,4374,3600,3543,476.7,12.0,4800,...,80516290,4868970.0,1998,643,369.0,203465,125219,13183,4967,207626
1841,202209,Ï†ÑÎùºÎ∂ÅÎèÑÏ†ÑÏ£ºÏãú,0,50,4471,3600,3611,487.3,12.0,4800,...,38740390,1018540.0,2299,674,373.0,95519,57513,2728,5432,97472

-DataFrame Describtion:

,B_DATE,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,ECON_CNT,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
count,2133.0,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2.133000e+03,...,2.133000e+03,2.114000e+03,2133.000000,2133.000000,2114.000000,2.133000e+03,2.133000e+03,2.133000e+03,2133.000000,2.133000e+03
mean,202209.0,1.000000,40.000000,3280.459447,2797.960619,2791.183779,357.543319,8.944023,13097.796531,1.485589e+05,...,5.815618e+07,2.467517e+06,1505.633849,565.375996,345.736518,1.352515e+05,8.956895e+04,6.286747e+03,3576.536803,1.389439e+05
std,0.0,0.816688,25.825944,1049.219140,829.070952,741.174242,114.356584,3.592256,95836.189733,1.134874e+06,...,4.502698e+08,1.961666e+07,798.068294,175.458470,163.413913,1.033253e+06,6.860398e+05,5.007974e+04,1941.811985,1.060538e+06
min,202209.0,0.000000,0.000000,1550.000000,1500.000000,1371.000000,168.900000,2.500000,1900.000000,1.050000e+03,...,1.551500e+05,1.000000e+01,253.000000,244.000000,10.000000,6.680000e+02,4.540000e+02,0.000000e+00,613.000000,8.630000e+02
25%,202209.0,0.000000,20.000000,2482.000000,2100.000000,2303.000000,270.500000,6.500000,2500.000000,1.407100e+04,...,3.317690e+06,2.622250e+04,833.000000,376.000000,275.250000,1.312900e+04,8.544000e+03,6.400000e+01,1808.000000,1.399800e+04
50%,202209.0,1.000000,40.000000,3333.000000,2800.000000,2809.000000,363.300000,8.900000,3400.000000,3.424600e+04,...,1.286659e+07,2.986150e+05,1471.000000,625.000000,327.000000,3.123900e+04,2.081600e+04,8.930000e+02,3486.000000,3.201100e+04
75%,202209.0,2.000000,60.000000,4005.000000,3400.000000,3259.000000,436.500000,12.000000,4800.000000,7.282300e+04,...,3.100085e+07,1.059772e+06,2161.000000,708.000000,395.750000,6.669400e+04,4.504500e+04,3.031000e+03,5152.000000,6.779600e+04
max,202209.0,2.000000,80.000000,8894.000000,7100.000000,6914.000000,969.400000,24.000000,973900.000000,3.960950e+07,...,1.550589e+10,6.520413e+08,5125.000000,963.000000,2920.000000,3.606144e+07,2.388132e+07,1.676204e+06,12304.000000,3.704592e+07

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
‚óé  1.BUSAN_DIVE_STAT_202209.csv----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Columns: 107 entries, B_DATE to COUNT_AMT_FPAY_M3
dtypes: float64(30), int64(76), object(1)
memory usage: 1.7+ MB
-DataFrame.head :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
0,202209,Ï†ÑÍµ≠,0,0,3775,3100,3147,411.4,10.1,3900,...,15505891500,652041310.0,1887,649,389.0,36061439,23881320,1676204,4473,37045924
1,202209,Ï†ÑÍµ≠,0,10,2138,2100,2130,233.0,5.6,2200,...,453399990,182340.0,308,301,246.0,1505759,1504967,740,813,1654356
2,202209,Ï†ÑÍµ≠,0,20,2749,2300,2547,299.6,7.2,2800,...,3833158770,81047790.0,1313,700,287.0,5959286,5474731,282578,3272,6058842

-DataFrame.tail :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2130,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,60,3001,2700,2637,327.1,8.0,3100,...,3138720,34860.0,1132,501,349.0,12033,6263,100,2469,12603
2131,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,70,2399,2100,2238,261.5,6.5,2500,...,796880,7060.0,708,381,441.0,4057,2090,16,1510,4463
2132,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,80,1569,1500,1492,171.0,2.5,1900,...,320230,370.0,476,359,93.0,1197,893,4,952,1466

-Random sample Watching(7) :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
745,202209,Í¥ëÏ£ºÍ¥ëÏó≠ÏãúÍ¥ëÏÇ∞Íµ¨,1,70,2737,2400,2453,298.3,7.2,2800,...,857480,6130.0,961,407,267.0,5018,2109,23,2309,5297
119,202209,Í∞ïÏõêÎèÑÏ∂òÏ≤úÏãú,1,20,2555,2100,2354,278.5,7.2,2800,...,11984990,193540.0,1238,704,263.0,18272,17036,737,3136,18575
900,202209,ÎåÄÍµ¨Í¥ëÏó≠ÏãúÎ∂ÅÍµ¨,1,0,3520,2900,2837,383.7,10.1,3900,...,61008980,1709930.0,1791,624,300.0,154502,97731,5691,4345,158309
328,202209,Í≤ΩÍ∏∞ÎèÑÏïàÏÇ∞Ïãú,0,40,4002,3400,3232,436.2,12.0,4800,...,53148990,1366710.0,2301,770,334.0,101432,69032,4088,5569,103366
974,202209,ÎåÄÏ†ÑÍ¥ëÏó≠ÏãúÏÑúÍµ¨,0,20,2739,2300,2542,298.5,7.2,2800,...,50593140,697570.0,1324,729,248.0,73033,69370,2817,3368,73929
417,202209,Í≤ΩÍ∏∞ÎèÑÌèâÌÉùÏãú,1,30,3790,3200,2925,413.1,10.1,3900,...,26874620,1092660.0,2369,804,307.0,44208,33406,3561,5832,44942
838,202209,ÎåÄÍµ¨Í¥ëÏó≠ÏãúÎã¨ÏÑúÍµ¨,0,10,1953,1800,1946,212.9,5.6,2200,...,4968850,560.0,288,281,80.0,17676,17668,7,744,19631

-DataFrame Describtion:

,B_DATE,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,ECON_CNT,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
count,2133.0,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2.133000e+03,...,2.133000e+03,2.114000e+03,2133.000000,2133.000000,2114.000000,2.133000e+03,2.133000e+03,2.133000e+03,2133.000000,2.133000e+03
mean,202209.0,1.000000,40.000000,3280.459447,2797.960619,2791.183779,357.543319,8.944023,13097.796531,1.485589e+05,...,5.815618e+07,2.467517e+06,1505.633849,565.375996,345.736518,1.352515e+05,8.956895e+04,6.286747e+03,3576.536803,1.389439e+05
std,0.0,0.816688,25.825944,1049.219140,829.070952,741.174242,114.356584,3.592256,95836.189733,1.134874e+06,...,4.502698e+08,1.961666e+07,798.068294,175.458470,163.413913,1.033253e+06,6.860398e+05,5.007974e+04,1941.811985,1.060538e+06
min,202209.0,0.000000,0.000000,1550.000000,1500.000000,1371.000000,168.900000,2.500000,1900.000000,1.050000e+03,...,1.551500e+05,1.000000e+01,253.000000,244.000000,10.000000,6.680000e+02,4.540000e+02,0.000000e+00,613.000000,8.630000e+02
25%,202209.0,0.000000,20.000000,2482.000000,2100.000000,2303.000000,270.500000,6.500000,2500.000000,1.407100e+04,...,3.317690e+06,2.622250e+04,833.000000,376.000000,275.250000,1.312900e+04,8.544000e+03,6.400000e+01,1808.000000,1.399800e+04
50%,202209.0,1.000000,40.000000,3333.000000,2800.000000,2809.000000,363.300000,8.900000,3400.000000,3.424600e+04,...,1.286659e+07,2.986150e+05,1471.000000,625.000000,327.000000,3.123900e+04,2.081600e+04,8.930000e+02,3486.000000,3.201100e+04
75%,202209.0,2.000000,60.000000,4005.000000,3400.000000,3259.000000,436.500000,12.000000,4800.000000,7.282300e+04,...,3.100085e+07,1.059772e+06,2161.000000,708.000000,395.750000,6.669400e+04,4.504500e+04,3.031000e+03,5152.000000,6.779600e+04
max,202209.0,2.000000,80.000000,8894.000000,7100.000000,6914.000000,969.400000,24.000000,973900.000000,3.960950e+07,...,1.550589e+10,6.520413e+08,5125.000000,963.000000,2920.000000,3.606144e+07,2.388132e+07,1.676204e+06,12304.000000,3.704592e+07

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
‚óé  1.BUSAN_DIVE_STAT_202209.csv----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Columns: 107 entries, B_DATE to COUNT_AMT_FPAY_M3
dtypes: float64(30), int64(76), object(1)
memory usage: 1.7+ MB
-DataFrame.head :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
0,202209,Ï†ÑÍµ≠,0,0,3775,3100,3147,411.4,10.1,3900,...,15505891500,652041310.0,1887,649,389.0,36061439,23881320,1676204,4473,37045924
1,202209,Ï†ÑÍµ≠,0,10,2138,2100,2130,233.0,5.6,2200,...,453399990,182340.0,308,301,246.0,1505759,1504967,740,813,1654356
2,202209,Ï†ÑÍµ≠,0,20,2749,2300,2547,299.6,7.2,2800,...,3833158770,81047790.0,1313,700,287.0,5959286,5474731,282578,3272,6058842

-DataFrame.tail :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2130,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,60,3001,2700,2637,327.1,8.0,3100,...,3138720,34860.0,1132,501,349.0,12033,6263,100,2469,12603
2131,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,70,2399,2100,2238,261.5,6.5,2500,...,796880,7060.0,708,381,441.0,4057,2090,16,1510,4463
2132,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,80,1569,1500,1492,171.0,2.5,1900,...,320230,370.0,476,359,93.0,1197,893,4,952,1466

-Random sample Watching(7) :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2087,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ≤≠Ï£ºÏãú,0,80,1655,1500,1520,180.4,2.5,1900,...,1752190,2480.0,528,357,191.0,7704,4910,13,1186,8842
549,202209,Í≤ΩÏÉÅÎÇ®ÎèÑÏñëÏÇ∞Ïãú,1,0,3712,3100,2917,404.6,10.1,3900,...,54540140,1450640.0,1958,653,292.0,125172,83578,4970,4721,128217
1071,202209,Î∂ÄÏÇ∞Í¥ëÏó≠ÏãúÎ∂ÄÏÇ∞ÏßÑÍµ¨,2,0,3224,2800,2760,351.4,8.9,3400,...,48047830,1331630.0,1727,576,324.0,124029,83432,4108,3778,127153
1512,202209,Ïö∏ÏÇ∞Í¥ëÏó≠ÏãúÎÇ®Íµ¨,0,0,4161,3400,3496,453.5,12.0,4800,...,104193340,3293460.0,1913,632,354.0,238784,164866,9306,4524,244887
1198,202209,ÏÑúÏö∏ÌäπÎ≥ÑÏãúÍ∞ïÎèôÍµ¨,1,10,2301,2300,2295,250.8,6.5,2500,...,1856170,1220.0,308,301,610.0,6164,6162,2,826,6730
1589,202209,Ïù∏Ï≤úÍ¥ëÏó≠ÏãúÎÇ®ÎèôÍµ¨,2,50,3708,3300,3103,404.1,10.1,3900,...,11972760,270850.0,1800,560,340.0,39213,21362,796,3859,40008
2043,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÎÇ®Î∂Ä,2,0,2981,2700,2623,324.9,8.0,3100,...,20588330,222040.0,1337,601,298.0,48059,34274,746,3031,50520

-DataFrame Describtion:

,B_DATE,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,ECON_CNT,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
count,2133.0,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2.133000e+03,...,2.133000e+03,2.114000e+03,2133.000000,2133.000000,2114.000000,2.133000e+03,2.133000e+03,2.133000e+03,2133.000000,2.133000e+03
mean,202209.0,1.000000,40.000000,3280.459447,2797.960619,2791.183779,357.543319,8.944023,13097.796531,1.485589e+05,...,5.815618e+07,2.467517e+06,1505.633849,565.375996,345.736518,1.352515e+05,8.956895e+04,6.286747e+03,3576.536803,1.389439e+05
std,0.0,0.816688,25.825944,1049.219140,829.070952,741.174242,114.356584,3.592256,95836.189733,1.134874e+06,...,4.502698e+08,1.961666e+07,798.068294,175.458470,163.413913,1.033253e+06,6.860398e+05,5.007974e+04,1941.811985,1.060538e+06
min,202209.0,0.000000,0.000000,1550.000000,1500.000000,1371.000000,168.900000,2.500000,1900.000000,1.050000e+03,...,1.551500e+05,1.000000e+01,253.000000,244.000000,10.000000,6.680000e+02,4.540000e+02,0.000000e+00,613.000000,8.630000e+02
25%,202209.0,0.000000,20.000000,2482.000000,2100.000000,2303.000000,270.500000,6.500000,2500.000000,1.407100e+04,...,3.317690e+06,2.622250e+04,833.000000,376.000000,275.250000,1.312900e+04,8.544000e+03,6.400000e+01,1808.000000,1.399800e+04
50%,202209.0,1.000000,40.000000,3333.000000,2800.000000,2809.000000,363.300000,8.900000,3400.000000,3.424600e+04,...,1.286659e+07,2.986150e+05,1471.000000,625.000000,327.000000,3.123900e+04,2.081600e+04,8.930000e+02,3486.000000,3.201100e+04
75%,202209.0,2.000000,60.000000,4005.000000,3400.000000,3259.000000,436.500000,12.000000,4800.000000,7.282300e+04,...,3.100085e+07,1.059772e+06,2161.000000,708.000000,395.750000,6.669400e+04,4.504500e+04,3.031000e+03,5152.000000,6.779600e+04
max,202209.0,2.000000,80.000000,8894.000000,7100.000000,6914.000000,969.400000,24.000000,973900.000000,3.960950e+07,...,1.550589e+10,6.520413e+08,5125.000000,963.000000,2920.000000,3.606144e+07,2.388132e+07,1.676204e+06,12304.000000,3.704592e+07

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
‚óé  1.BUSAN_DIVE_STAT_202209.csv----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Columns: 107 entries, B_DATE to COUNT_AMT_FPAY_M3
dtypes: float64(30), int64(76), object(1)
memory usage: 1.7+ MB
-DataFrame.head :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
0,202209,Ï†ÑÍµ≠,0,0,3775,3100,3147,411.4,10.1,3900,...,15505891500,652041310.0,1887,649,389.0,36061439,23881320,1676204,4473,37045924
1,202209,Ï†ÑÍµ≠,0,10,2138,2100,2130,233.0,5.6,2200,...,453399990,182340.0,308,301,246.0,1505759,1504967,740,813,1654356
2,202209,Ï†ÑÍµ≠,0,20,2749,2300,2547,299.6,7.2,2800,...,3833158770,81047790.0,1313,700,287.0,5959286,5474731,282578,3272,6058842

-DataFrame.tail :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2130,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,60,3001,2700,2637,327.1,8.0,3100,...,3138720,34860.0,1132,501,349.0,12033,6263,100,2469,12603
2131,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,70,2399,2100,2238,261.5,6.5,2500,...,796880,7060.0,708,381,441.0,4057,2090,16,1510,4463
2132,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,80,1569,1500,1492,171.0,2.5,1900,...,320230,370.0,476,359,93.0,1197,893,4,952,1466

-Random sample Watching(7) :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2061,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÎ∂ÅÎ∂Ä,1,0,3533,3000,2910,385.1,10.1,3900,...,68727270,920300.0,1799,719,245.0,127933,95540,3757,4451,132185
741,202209,Í¥ëÏ£ºÍ¥ëÏó≠ÏãúÍ¥ëÏÇ∞Íµ¨,1,30,3563,2900,2689,388.3,10.1,3900,...,17517090,511350.0,2407,798,298.0,28071,21947,1714,5920,28591
995,202209,ÎåÄÏ†ÑÍ¥ëÏó≠ÏãúÏÑúÍµ¨,2,50,4135,3600,3542,450.7,12.0,4800,...,15806010,368930.0,2028,557,385.0,37218,28359,958,4616,37776
1860,202209,Ï†ÑÎùºÎ∂ÅÎèÑÏ†ÑÏ£ºÏãú,2,60,3096,2700,2717,337.4,8.0,3100,...,7657030,146850.0,1296,452,381.0,34461,16922,385,2803,35763
1841,202209,Ï†ÑÎùºÎ∂ÅÎèÑÏ†ÑÏ£ºÏãú,0,50,4471,3600,3611,487.3,12.0,4800,...,38740390,1018540.0,2299,674,373.0,95519,57513,2728,5432,97472
633,202209,Í≤ΩÏÉÅÎ∂ÅÎèÑÍµ¨ÎØ∏Ïãú,1,30,4003,3400,3155,436.3,12.0,4800,...,19101910,781230.0,2291,771,361.0,31023,24784,2162,5732,31461
1954,202209,Ï∂©Ï≤≠ÎÇ®ÎèÑÎ∂ÅÎ∂Ä,1,10,2091,2000,2084,227.9,5.6,2200,...,2660760,580.0,295,292,145.0,9115,9112,4,780,10082

-DataFrame Describtion:

,B_DATE,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,ECON_CNT,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
count,2133.0,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2.133000e+03,...,2.133000e+03,2.114000e+03,2133.000000,2133.000000,2114.000000,2.133000e+03,2.133000e+03,2.133000e+03,2133.000000,2.133000e+03
mean,202209.0,1.000000,40.000000,3280.459447,2797.960619,2791.183779,357.543319,8.944023,13097.796531,1.485589e+05,...,5.815618e+07,2.467517e+06,1505.633849,565.375996,345.736518,1.352515e+05,8.956895e+04,6.286747e+03,3576.536803,1.389439e+05
std,0.0,0.816688,25.825944,1049.219140,829.070952,741.174242,114.356584,3.592256,95836.189733,1.134874e+06,...,4.502698e+08,1.961666e+07,798.068294,175.458470,163.413913,1.033253e+06,6.860398e+05,5.007974e+04,1941.811985,1.060538e+06
min,202209.0,0.000000,0.000000,1550.000000,1500.000000,1371.000000,168.900000,2.500000,1900.000000,1.050000e+03,...,1.551500e+05,1.000000e+01,253.000000,244.000000,10.000000,6.680000e+02,4.540000e+02,0.000000e+00,613.000000,8.630000e+02
25%,202209.0,0.000000,20.000000,2482.000000,2100.000000,2303.000000,270.500000,6.500000,2500.000000,1.407100e+04,...,3.317690e+06,2.622250e+04,833.000000,376.000000,275.250000,1.312900e+04,8.544000e+03,6.400000e+01,1808.000000,1.399800e+04
50%,202209.0,1.000000,40.000000,3333.000000,2800.000000,2809.000000,363.300000,8.900000,3400.000000,3.424600e+04,...,1.286659e+07,2.986150e+05,1471.000000,625.000000,327.000000,3.123900e+04,2.081600e+04,8.930000e+02,3486.000000,3.201100e+04
75%,202209.0,2.000000,60.000000,4005.000000,3400.000000,3259.000000,436.500000,12.000000,4800.000000,7.282300e+04,...,3.100085e+07,1.059772e+06,2161.000000,708.000000,395.750000,6.669400e+04,4.504500e+04,3.031000e+03,5152.000000,6.779600e+04
max,202209.0,2.000000,80.000000,8894.000000,7100.000000,6914.000000,969.400000,24.000000,973900.000000,3.960950e+07,...,1.550589e+10,6.520413e+08,5125.000000,963.000000,2920.000000,3.606144e+07,2.388132e+07,1.676204e+06,12304.000000,3.704592e+07

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
‚óé  1.BUSAN_DIVE_STAT_202209.csv----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Columns: 107 entries, B_DATE to COUNT_AMT_FPAY_M3
dtypes: float64(30), int64(76), object(1)
memory usage: 1.7+ MB
-DataFrame.head :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
0,202209,Ï†ÑÍµ≠,0,0,3775,3100,3147,411.4,10.1,3900,...,15505891500,652041310.0,1887,649,389.0,36061439,23881320,1676204,4473,37045924
1,202209,Ï†ÑÍµ≠,0,10,2138,2100,2130,233.0,5.6,2200,...,453399990,182340.0,308,301,246.0,1505759,1504967,740,813,1654356
2,202209,Ï†ÑÍµ≠,0,20,2749,2300,2547,299.6,7.2,2800,...,3833158770,81047790.0,1313,700,287.0,5959286,5474731,282578,3272,6058842

-DataFrame.tail :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2130,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,60,3001,2700,2637,327.1,8.0,3100,...,3138720,34860.0,1132,501,349.0,12033,6263,100,2469,12603
2131,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,70,2399,2100,2238,261.5,6.5,2500,...,796880,7060.0,708,381,441.0,4057,2090,16,1510,4463
2132,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,80,1569,1500,1492,171.0,2.5,1900,...,320230,370.0,476,359,93.0,1197,893,4,952,1466

-Random sample Watching(7) :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
1421,202209,ÏÑúÏö∏ÌäπÎ≥ÑÏãúÏñëÏ≤úÍµ¨,1,80,1932,1500,1749,210.6,5.6,2200,...,345730,6560.0,859,403,729.0,2246,857,9,1870,2467
945,202209,ÎåÄÏ†ÑÍ¥ëÏó≠ÏãúÍ∏∞ÌÉÄ,0,0,3333,2800,2863,363.3,8.9,3400,...,229599310,3949600.0,1676,620,298.0,464770,370049,13248,4015,477398
1846,202209,Ï†ÑÎùºÎ∂ÅÎèÑÏ†ÑÏ£ºÏãú,1,10,1947,1800,1941,212.2,5.6,2200,...,3520440,380.0,328,319,127.0,11033,11029,3,867,12109
533,202209,Í≤ΩÏÉÅÎÇ®ÎèÑÏÑúÎ∂Ä,2,20,2481,2000,2329,270.4,6.5,2500,...,10367050,91260.0,1188,660,223.0,16669,15710,410,2897,16991
916,202209,ÎåÄÍµ¨Í¥ëÏó≠ÏãúÎ∂ÅÍµ¨,2,70,2271,2000,2078,247.5,6.5,2500,...,853010,8490.0,683,286,566.0,7660,2979,15,1281,8408
492,202209,Í≤ΩÏÉÅÎÇ®ÎèÑÎèôÎ∂Ä,0,60,3521,2900,2811,383.8,10.1,3900,...,13039480,155630.0,1276,545,324.0,42481,23938,481,2911,44071
1306,202209,ÏÑúÏö∏ÌäπÎ≥ÑÏãúÎÖ∏ÏõêÍµ¨,1,10,2283,2200,2277,248.8,6.5,2500,...,2454230,1480.0,283,275,185.0,8917,8911,8,767,9733

-DataFrame Describtion:

,B_DATE,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,ECON_CNT,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
count,2133.0,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2.133000e+03,...,2.133000e+03,2.114000e+03,2133.000000,2133.000000,2114.000000,2.133000e+03,2.133000e+03,2.133000e+03,2133.000000,2.133000e+03
mean,202209.0,1.000000,40.000000,3280.459447,2797.960619,2791.183779,357.543319,8.944023,13097.796531,1.485589e+05,...,5.815618e+07,2.467517e+06,1505.633849,565.375996,345.736518,1.352515e+05,8.956895e+04,6.286747e+03,3576.536803,1.389439e+05
std,0.0,0.816688,25.825944,1049.219140,829.070952,741.174242,114.356584,3.592256,95836.189733,1.134874e+06,...,4.502698e+08,1.961666e+07,798.068294,175.458470,163.413913,1.033253e+06,6.860398e+05,5.007974e+04,1941.811985,1.060538e+06
min,202209.0,0.000000,0.000000,1550.000000,1500.000000,1371.000000,168.900000,2.500000,1900.000000,1.050000e+03,...,1.551500e+05,1.000000e+01,253.000000,244.000000,10.000000,6.680000e+02,4.540000e+02,0.000000e+00,613.000000,8.630000e+02
25%,202209.0,0.000000,20.000000,2482.000000,2100.000000,2303.000000,270.500000,6.500000,2500.000000,1.407100e+04,...,3.317690e+06,2.622250e+04,833.000000,376.000000,275.250000,1.312900e+04,8.544000e+03,6.400000e+01,1808.000000,1.399800e+04
50%,202209.0,1.000000,40.000000,3333.000000,2800.000000,2809.000000,363.300000,8.900000,3400.000000,3.424600e+04,...,1.286659e+07,2.986150e+05,1471.000000,625.000000,327.000000,3.123900e+04,2.081600e+04,8.930000e+02,3486.000000,3.201100e+04
75%,202209.0,2.000000,60.000000,4005.000000,3400.000000,3259.000000,436.500000,12.000000,4800.000000,7.282300e+04,...,3.100085e+07,1.059772e+06,2161.000000,708.000000,395.750000,6.669400e+04,4.504500e+04,3.031000e+03,5152.000000,6.779600e+04
max,202209.0,2.000000,80.000000,8894.000000,7100.000000,6914.000000,969.400000,24.000000,973900.000000,3.960950e+07,...,1.550589e+10,6.520413e+08,5125.000000,963.000000,2920.000000,3.606144e+07,2.388132e+07,1.676204e+06,12304.000000,3.704592e+07

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
‚óé  1.BUSAN_DIVE_STAT_202209.csv----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Columns: 107 entries, B_DATE to COUNT_AMT_FPAY_M3
dtypes: float64(30), int64(76), object(1)
memory usage: 1.7+ MB
-DataFrame.head :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
0,202209,Ï†ÑÍµ≠,0,0,3775,3100,3147,411.4,10.1,3900,...,15505891500,652041310.0,1887,649,389.0,36061439,23881320,1676204,4473,37045924
1,202209,Ï†ÑÍµ≠,0,10,2138,2100,2130,233.0,5.6,2200,...,453399990,182340.0,308,301,246.0,1505759,1504967,740,813,1654356
2,202209,Ï†ÑÍµ≠,0,20,2749,2300,2547,299.6,7.2,2800,...,3833158770,81047790.0,1313,700,287.0,5959286,5474731,282578,3272,6058842

-DataFrame.tail :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
2130,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,60,3001,2700,2637,327.1,8.0,3100,...,3138720,34860.0,1132,501,349.0,12033,6263,100,2469,12603
2131,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,70,2399,2100,2238,261.5,6.5,2500,...,796880,7060.0,708,381,441.0,4057,2090,16,1510,4463
2132,202209,Ï∂©Ï≤≠Î∂ÅÎèÑÏ∂©Ï£ºÏãú,2,80,1569,1500,1492,171.0,2.5,1900,...,320230,370.0,476,359,93.0,1197,893,4,952,1466

-Random sample Watching(7) :

,B_DATE,META_ADD,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
1679,202209,Ï†ÑÎùºÎÇ®ÎèÑÏÑúÎ∂Ä,0,50,4177,3400,3323,455.3,12.0,4800,...,51836510,633010.0,2033,811,309.0,96555,63950,2051,4858,99247
2015,202209,Ï∂©Ï≤≠ÎÇ®ÎèÑÏ≤úÏïàÏãú,1,80,1787,1500,1565,194.8,2.5,1900,...,482110,3050.0,696,364,235.0,2411,1326,13,1582,2701
721,202209,Í≤ΩÏÉÅÎ∂ÅÎèÑÌè¨Ìï≠Ïãú,2,10,2178,2100,2171,237.4,5.6,2200,...,1948790,NaN,295,290,NaN,6716,6716,0,760,7454
1975,202209,Ï∂©Ï≤≠ÎÇ®ÎèÑÏïÑÏÇ∞Ïãú,0,40,4534,3700,3627,494.2,12.0,4800,...,30418920,902920.0,2493,784,348.0,55499,38822,2597,6117,56411
1797,202209,Ï†ÑÎùºÎ∂ÅÎèÑÎ∂ÅÎ∂Ä,1,60,3615,3000,2975,394.0,10.1,3900,...,11197680,94160.0,1533,630,212.0,27919,17769,444,3774,28936
1526,202209,Ïö∏ÏÇ∞Í¥ëÏó≠ÏãúÎÇ®Íµ¨,1,50,6452,5100,5211,703.2,24.0,973900,...,12401730,479410.0,2708,736,417.0,26975,16840,1150,6659,27413
1485,202209,Ïö∏ÏÇ∞Í¥ëÏó≠ÏãúÍ∏∞ÌÉÄ,0,0,3940,3300,3291,429.4,12.0,4800,...,256670450,5461160.0,1774,636,302.0,569635,403306,18099,4255,585057

-DataFrame Describtion:

,B_DATE,GENDER,AGE,AVG_INCOME,MED_INCOME,AVG_INCOMEX,IN_DIST_RO,IN_SH,IN_MAX,ECON_CNT,...,SUM_CHECK_1,SUM_ABRO_1,AVG_CRED_1,AVG_CHECK_1,AVG_ABRO_1,COUNT_CRED_1,COUNT_CHECK_1,COUNT_ABRO_1,AVG_AMT_FPAY_M3,COUNT_AMT_FPAY_M3
count,2133.0,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2133.000000,2.133000e+03,...,2.133000e+03,2.114000e+03,2133.000000,2133.000000,2114.000000,2.133000e+03,2.133000e+03,2.133000e+03,2133.000000,2.133000e+03
mean,202209.0,1.000000,40.000000,3280.459447,2797.960619,2791.183779,357.543319,8.944023,13097.796531,1.485589e+05,...,5.815618e+07,2.467517e+06,1505.633849,565.375996,345.736518,1.352515e+05,8.956895e+04,6.286747e+03,3576.536803,1.389439e+05
std,0.0,0.816688,25.825944,1049.219140,829.070952,741.174242,114.356584,3.592256,95836.189733,1.134874e+06,...,4.502698e+08,1.961666e+07,798.068294,175.458470,163.413913,1.033253e+06,6.860398e+05,5.007974e+04,1941.811985,1.060538e+06
min,202209.0,0.000000,0.000000,1550.000000,1500.000000,1371.000000,168.900000,2.500000,1900.000000,1.050000e+03,...,1.551500e+05,1.000000e+01,253.000000,244.000000,10.000000,6.680000e+02,4.540000e+02,0.000000e+00,613.000000,8.630000e+02
25%,202209.0,0.000000,20.000000,2482.000000,2100.000000,2303.000000,270.500000,6.500000,2500.000000,1.407100e+04,...,3.317690e+06,2.622250e+04,833.000000,376.000000,275.250000,1.312900e+04,8.544000e+03,6.400000e+01,1808.000000,1.399800e+04
50%,202209.0,1.000000,40.000000,3333.000000,2800.000000,2809.000000,363.300000,8.900000,3400.000000,3.424600e+04,...,1.286659e+07,2.986150e+05,1471.000000,625.000000,327.000000,3.123900e+04,2.081600e+04,8.930000e+02,3486.000000,3.201100e+04
75%,202209.0,2.000000,60.000000,4005.000000,3400.000000,3259.000000,436.500000,12.000000,4800.000000,7.282300e+04,...,3.100085e+07,1.059772e+06,2161.000000,708.000000,395.750000,6.669400e+04,4.504500e+04,3.031000e+03,5152.000000,6.779600e+04
max,202209.0,2.000000,80.000000,8894.000000,7100.000000,6914.000000,969.400000,24.000000,973900.000000,3.960950e+07,...,1.550589e+10,6.520413e+08,5125.000000,963.000000,2920.000000,3.606144e+07,2.388132e+07,1.676204e+06,12304.000000,3.704592e+07

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [5]:
data_file_numbering(data_dir="./Data/Î°ØÎç∞Î©§Î≤ÑÏä§")
data_dict_lotte=data_watch_range(1,5,data_folder_path="./Data/Î°ØÎç∞Î©§Î≤ÑÏä§")
data_file_numbering(data_dir="./Data/ÏÇºÏÑ±Ïπ¥Îìú")
data_dict_samsung=data_watch_range(1,1,data_folder_path="./Data/ÏÇºÏÑ±Ïπ¥Îìú")

4.BUSAN_DIVE_STAT_202306.csv
3.BUSAN_DIVE_STAT_202312.csv
5.BUSAN_DIVE_STAT_202303.csv
1.BUSAN_DIVE_STAT_202209.csv
8.BUSAN_DIVE_STAT_202203.csv
6.BUSAN_DIVE_STAT_202212.csv
2.BUSAN_DIVE_STAT_202309.csv
7.BUSAN_DIVE_STAT_202206.csv
9.Î∂ÄÏÇ∞ÌÖåÌÅ¨ÎÖ∏ÌååÌÅ¨_DIVE2024_ÌÖåÏù¥Î∏îÎ†àÏù¥ÏïÑÏõÉ.xlsx
ÌååÏùº 1.003_ltmb_mart_data.csv Ïù¥ 1.1.003_ltmb_mart_data.csv ÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.
ÌååÏùº 2.002_ltmb_k7_data.csv Ïù¥ 2.2.002_ltmb_k7_data.csv ÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.
ÌååÏùº 4.006_ltmb_lime_data.xlsx Ïù¥ 3.4.006_ltmb_lime_data.xlsx ÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.
ÌååÏùº 3.001_ltmb_layout.xlsx Ïù¥ 4.3.001_ltmb_layout.xlsx ÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.
ÌååÏùº 5.005_ltmb_lime_table.xlsx Ïù¥ 5.5.005_ltmb_lime_table.xlsx ÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.
‚úª‚úª‚úª‚úª______üôÑ 1-6 Î≤à ÌååÏùº Îç∞Ïù¥ÌÑ∞ Î≥¥Í≥† Î∂ÑÏÑù üôÑ______‚úª‚úª‚úª‚úª

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..:  1%|          | 1/100 [elapsed: 00:00 remaining: 00:39]

  - Detected encoding: None
  - Detected encoding: UTF-8-SIG

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 12%|‚ñà‚ñè        | 12/100 [elapsed: 00:05 remaining: 00:31]

  - Detected encoding: None
  - Detected encoding: None

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 22%|‚ñà‚ñà‚ñè       | 22/100 [elapsed: 00:05 remaining: 00:14]

  - Detected encoding: UTF-8-SIG

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..: 35%|‚ñà‚ñà‚ñà‚ñå      | 35/100 [elapsed: 00:14 remaining: 00:26]

4.BUSAN_DIVE_STAT_202306.csv
3.BUSAN_DIVE_STAT_202312.csv
5.BUSAN_DIVE_STAT_202303.csv
1.BUSAN_DIVE_STAT_202209.csv
8.BUSAN_DIVE_STAT_202203.csv
6.BUSAN_DIVE_STAT_202212.csv
2.BUSAN_DIVE_STAT_202309.csv
7.BUSAN_DIVE_STAT_202206.csv
9.Î∂ÄÏÇ∞ÌÖåÌÅ¨ÎÖ∏ÌååÌÅ¨_DIVE2024_ÌÖåÏù¥Î∏îÎ†àÏù¥ÏïÑÏõÉ.xlsx
ÌååÏùº 1.DIVE_FINAL_F.csv Ïù¥ 1.1.DIVE_FINAL_F.csv ÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.
‚úª‚úª‚úª‚úª______üëª 1-2 Î≤à ÌååÏùº Îç∞Ïù¥ÌÑ∞ Î≥¥Í≥† Î∂ÑÏÑù üëª______‚úª‚úª‚úª‚úª

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..:  0%|          | 0/100 [elapsed: 00:00 remaining: ?]

  - Detected encoding: utf-8

Data File Î∂àÎü¨Ïò§Îäî Ï§ë..:  0%|          | 0/100 [elapsed: 09:53 remaining: ?]

KeyboardInterrupt: